In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import re

import pickle

In [5]:
with open('cl_matches.p', 'rb') as f:
    data = pickle.load(f)

In [6]:
df = pd.DataFrame(data)

In [34]:
df.head(3)

,home_team,away_team,score,match_season,home_value,away_value,score_diff
0,AC Milan,Liverpool,5:6 on pens,2004,273.70,200.12,0
1,Liverpool,Chelsea,1:0,2004,200.12,331.47,1
2,PSV Eindhoven,AC Milan,3:1,2004,86.85,273.70,2

In [30]:
# Function to clean and feature engineer scoring
def score_cleaner(x):
    if re.search(r'on pens', x):
        diff = 0
    elif re.search(r'AET', x):
        x = x[:-4].split(':')
        diff = int(x[0]) - int(x[1])
    else:
        x = x.split(':')
        diff = int(x[0]) - int(x[1])
    
    return diff

In [31]:
df['score_diff'] = df['score'].map(score_cleaner)

In [33]:
df.head(3)

,home_team,away_team,score,match_season,home_value,away_value,score_diff
0,AC Milan,Liverpool,5:6 on pens,2004,273.70,200.12,0
1,Liverpool,Chelsea,1:0,2004,200.12,331.47,1
2,PSV Eindhoven,AC Milan,3:1,2004,86.85,273.70,2

In [35]:
df['value_diff'] = df['home_value'] - df['away_value']

In [38]:
df.head(3)

,home_team,away_team,score,match_season,home_value,away_value,score_diff,value_diff
0,AC Milan,Liverpool,5:6 on pens,2004,273.70,200.12,0,73.58
1,Liverpool,Chelsea,1:0,2004,200.12,331.47,1,-131.35
2,PSV Eindhoven,AC Milan,3:1,2004,86.85,273.70,2,-186.85